<a href="https://colab.research.google.com/github/nehaa0/internneha/blob/pythonfile/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

def sum(num1,num2,num3=0):
  c=num1+num2+num3
  return c
a=int(input("enter a number:"))
b=int(input("enter a number:"))
x=int(input("enter a number:"))
sum(a,b)
sum(a,b,x)

enter a number:2
enter a number:3
enter a number:4

9

In [25]:

def sum(num1,num2):
  c=num1+num2
  return c

a=int(input("enter a number:"))
b=int(input("enter a number:"))
c=sum(a,b)
print(c)
a=int(input("enter a number:"))
b=int(input("enter a number:"))
d=sum(a,b)
print(d)

enter a number:2
enter a number:3
5
enter a number:2
enter a number:4
6

In [ ]:
def fun(*arg):
  size=len(arg)
  print("size of array:",size)
  print("last index value is:",arg[size-1])
fun(12,13,14,15,16)
fun(12,23,46,57)
fun(23,34,56)
fun(45,34)

size of array: 5
last index value is: 16
size of array: 4
last index value is: 57
size of array: 3
last index value is: 56
size of array: 2
last index value is: 34

In [30]:

def armstrong(num):
  s=0
  while num>0:
     n=num%10
     s=int(s+(n*n*n))
     num=int(num/10)
  return s
a=int(input("enter a number:"))
temp=a
b=armstrong(a)
if b==temp:
 print(b,"armstrong number")
else:
  print("not a armstrong number")

enter a number:123
not a armstrong number

In [20]:
a=int(input("enter a number:"))
b=int(input("enter a number:"))

for i in range(a,b):
  flag=0
  for d in range(2,i):
    if i%d==0:
        flag=1
  if flag==0:
    print(i)

enter a number:21
enter a number:34
23
29
31