<a href="https://colab.research.google.com/github/nehaa0/internneha/blob/pythonfile/pythonpandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!apt-get -y install mysql-server
!sudo service mysql start
!pip install mysql-connector-python

import mysql.connector

# Create a connection to the MySQL server
conn = mysql.connector.connect(user='root', password='root', unix_socket='/var/run/mysqld/mysqld.sock')
cursor = conn.cursor()
cursor.execute("CREATE DATABASE IF NOT EXISTS library")

# Switch to the 'library' database
cursor.execute("USE library")

# Create the 'books' table
cursor.execute('''
CREATE TABLE IF NOT EXISTS books (
    id INT AUTO_INCREMENT PRIMARY KEY,
    title VARCHAR(255) NOT NULL,
    author VARCHAR(255) NOT NULL,
    year_published INT
)
''')

books_data = [
    ("To Kill a Mockingbird", "Harper Lee", 1960),
    ("1984", "George Orwell", 1949),
    ("The Great Gatsby", "F. Scott Fitzgerald", 1925),

]

# Insert data using the cursor
cursor.executemany('''
INSERT INTO books (title, author, year_published) VALUES (%s, %s, %s)
''', books_data)

# Commit the changes
conn.commit()
cursor.execute("SELECT * FROM books")

# Fetch all the results
records = cursor.fetchall()

# Print the records
for record in records:
    print(record)
cursor.close()
conn.close()

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
mysql-server is already the newest version (8.0.36-0ubuntu0.22.04.1).
0 upgraded, 0 newly installed, 0 to remove and 32 not upgraded.
 * Starting MySQL database server mysqld
   ...done.
Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.10/dist-packages (8.3.0)
(1, 'To Kill a Mockingbird', 'Harper Lee', None)
(2, '1984', 'George Orwell', 1949)
(3, 'The Great Gatsby', 'F. Scott Fitzgerald', 1925)
(19, 'To Kill a Mockingbird', 'Harper Lee', 1960)
(20, '1984', 'George Orwell', 1949)
(21, 'The Great Gatsby', 'F. Scott Fitzgerald', 1925)

In [25]:
import mysql.connector as sql
from tabulate import tabulate
import pandas as pd

conn = mysql.connector.connect(user='root', password='root',unix_socket='/var/run/mysqld/mysqld.sock' , database='library')

cursor = conn.cursor()


cursor.execute('SELECT * FROM books')

table_rows = cursor.fetchall()

df = pd.DataFrame(table_rows)
print(tabulate(df, headers = 'keys', tablefmt = 'psql'))

+----+-----+-----------------------+---------------------+------+
|    |   0 | 1                     | 2                   |    3 |
|----+-----+-----------------------+---------------------+------|
|  0 |   1 | To Kill a Mockingbird | Harper Lee          | 1960 |
|  1 |   2 | 1984                  | George Orwell       | 1949 |
|  2 |   3 | The Great Gatsby      | F. Scott Fitzgerald | 1925 |
+----+-----+-----------------------+---------------------+------+

In [2]:
!mysql -e"update library.books set year_published=NULL where author='Harper Lee'"
!mysql -e"select * from library.books"

+----+-----------------------+---------------------+----------------+
| id | title                 | author              | year_published |
+----+-----------------------+---------------------+----------------+
|  1 | To Kill a Mockingbird | Harper Lee          |           NULL |
|  2 | 1984                  | George Orwell       |           1949 |
|  3 | The Great Gatsby      | F. Scott Fitzgerald |           1925 |
| 19 | To Kill a Mockingbird | Harper Lee          |           NULL |
| 20 | 1984                  | George Orwell       |           1949 |
| 21 | The Great Gatsby      | F. Scott Fitzgerald |           1925 |
+----+-----------------------+---------------------+----------------+